Repository openebs/e2e-tests, pull requests merged in 2020-08, with the labels that each got.

#467 feat[experiment]: Test case to validate if the cspc pool creation is failed when the blockdevice is already claimed
  experiments/functional/cspc-pool/block-pool-creation-with-claimed-bd/README.md
  experiments/functional/cspc-pool/block-pool-creation-with-claimed-bd/add_blockdevice.yml
  experiments/functional/cspc-pool/block-pool-creation-with-claimed-bd/blockdevice.j2
  experiments/functional/cspc-pool/block-pool-creation-with-claimed-bd/cspc.yml
  experiments/functional/cspc-pool/block-pool-creation-with-claimed-bd/run_litmus_test.yml
  experiments/functional/cspc-pool/block-pool-creation-with-claimed-bd/test.yml
  experiments/functional/cspc-pool/block-pool-creation-with-claimed-bd/test_vars.yml
Labels: cspc/csi

#465 refactor[csi-provision]: Updated the csi provisioner test to get the specs from release branch
  providers/csi-provisioner/README.md
  providers/csi-provisioner/csi-cstor-sc.j2
  providers/csi-provisioner/csi-cstor-xfs-sc.j2
  providers/csi-provisioner/run_litmus_test.yml
  providers/csi-provisioner/test.yml
  providers/csi-provisioner/test_vars.yml
Labels: cspc/csi, enhancement

#473 refactor[cstor-operator]: Modified the tasks to deploy the cstor CSPC and CVC operator
  providers/cstor-operator/README.md
  providers/cstor-operator/run_litmus_test.yaml
  providers/cstor-operator/run_litmus_test.yml
  providers/cstor-operator/test.yaml
  providers/cstor-operator/test.yml
  providers/cstor-operator/test_vars.yaml
  providers/cstor-operator/test_vars.yml
Labels: enhancement

#479 refact(exp): modified the zfs-controller high availability test
  experiments/zfs-localpv/functional/zfs-controller-high-availability/test.yml
Labels: storage/zfs-localpv

#509 feat(exp): node failure experiment for zfs-localpv
  chaoslib/vmware_chaos/vm_power_operations.yml
  experiments/chaos/node_failure/run_litmus_test.yml
  experiments/chaos/node_failure/test.yml
  experiments/chaos/node_failure/test_vars.yml
  k8s/on-prem/openshift-installer/revert_cluster_state.yml
Labels: storage/zfs-localpv

#492 feat[expt-cstor]: Test case to validate the pool creation is failing when the blockdevice has filesystem
  experiments/functional/cspc-pool/block-pool-creation-bd-with-filesystem/README.md
  experiments/functional/cspc-pool/block-pool-creation-bd-with-filesystem/create_filesystem.yml
  experiments/functional/cspc-pool/block-pool-creation-bd-with-filesystem/cspc.yml
  experiments/functional/cspc-pool/block-pool-creation-bd-with-filesystem/run_litmus_test.yml
  experiments/functional/cspc-pool/block-pool-creation-bd-with-filesystem/test.yml
  experiments/functional/cspc-pool/block-pool-creation-bd-with-filesystem/test_vars.yml
Labels: cspc/csi
