Repository openebs/e2e-tests, pull requests merged in 2020-07, with the labels that each got.

#437 add(sc): adding storage class yaml for btrfs file system in zfspv-provisioner
  providers/zfs-localpv-provisioner/openebs-zfspv-sc.j2
Labels: storage/zfs-localpv

#434 feat[Migration]: Test case to perform the SPC and non-csi volumes
  providers/openebs/cspc_csi_migration/README.md
  providers/openebs/cspc_csi_migration/cstor-spc-migration-job.j2
  providers/openebs/cspc_csi_migration/cstor-volume-migration-job.j2
  providers/openebs/cspc_csi_migration/cstor_pool_migration.yml
  providers/openebs/cspc_csi_migration/cstor_volume_migration.yml
  providers/openebs/cspc_csi_migration/run_litmus_test.yml
  providers/openebs/cspc_csi_migration/test.yml
  providers/openebs/cspc_csi_migration/test_vars.yml
Labels: cspc/csi

#440 refact(exp): scaling down application before taking zfs-vol-snapshot
  experiments/functional/zfs-LocalPV/zfspv-snapshot/test.yml
Labels: storage/zfs-localpv

#445 refact(exp): checking pod status before taking volume snapshot
  experiments/functional/zfs-LocalPV/zfspv-snapshot/test.yml
Labels: storage/zfs-localpv

#456 fix[snapshot]: Modified the task to verify the snapshot status
  experiments/functional/snapshot-creation/test.yml
Labels: enhancement

#459 refactor[cspc-pool-delete]: Included a task to verify the existence of replica status before deleting the pool
  providers/cstor/cstor-cspc-pool/test.yml
Labels: enhancement

#458 refactor[spc-pool]: Modified the test case to provision the pool based on the max pool count
  providers/cstor/cstor-block-device-pool/README.md
  providers/cstor/cstor-block-device-pool/block_device_claim.yml
  providers/cstor/cstor-block-device-pool/run_litmus_test.yml
  providers/cstor/cstor-block-device-pool/test.yml
  providers/cstor/cstor-block-device-pool/test_vars.yml
Labels: enhancement

#457 feat(exp): adding e2e-test for zfspv shared mount support
  experiments/functional/zfs-LocalPV/zfspv-shared-mount/README.md
  experiments/functional/zfs-LocalPV/zfspv-shared-mount/busybox_share.j2
  experiments/functional/zfs-LocalPV/zfspv-shared-mount/run_litmus_test.yml
  experiments/functional/zfs-LocalPV/zfspv-shared-mount/test.yml
  experiments/functional/zfs-LocalPV/zfspv-shared-mount/test_vars.yml
  experiments/functional/zfs-LocalPV/zfspv-snapshot/test.yml
  providers/zfs-localpv-provisioner/openebs-zfspv-sc.j2
Labels: storage/zfs-localpv

#466 refactor[sc-policies]: Included the storage policy for csi xfs filesystem
  providers/cstor-storage-policies/csi-cstor-xfs-sc.j2
  providers/cstor-storage-policies/run_litmus_test.yml
Labels: cspc/csi, enhancement

#460 refact(exp): adding negative test case for provision localpv on selected blockdevice
  experiments/functional/localpv/localpv-provisioning-selected-device/README.md
  experiments/functional/localpv/localpv-provisioning-selected-device/run_litmus_test.yml
  experiments/functional/localpv/localpv-provisioning-selected-device/test.yml
  experiments/functional/localpv/localpv-provisioning-selected-device/test_vars.yml
Labels: localpv

#461 feat[experiment]: Test case to validate the cspc pool deletion is blocked if the pools has the volumes
  experiments/functional/cspc-pool/block-pool-deletion-with-volume/README.md
  experiments/functional/cspc-pool/block-pool-deletion-with-volume/run_litmus_test.yml
  experiments/functional/cspc-pool/block-pool-deletion-with-volume/test.yml
  experiments/functional/cspc-pool/block-pool-deletion-with-volume/test_vars.yml
Labels: cspc/csi

#463 feat[experiment]: Included a test case to verify the blockdevice reusability
  experiments/functional/cspc-pool/blockdevice-reusability/README.md
  experiments/functional/cspc-pool/blockdevice-reusability/add_blockdevice.yml
  experiments/functional/cspc-pool/blockdevice-reusability/blockdevice.j2
  experiments/functional/cspc-pool/blockdevice-reusability/cspc.yml
  experiments/functional/cspc-pool/blockdevice-reusability/run_litmus_test.yml
  experiments/functional/cspc-pool/blockdevice-reusability/test.yml
  experiments/functional/cspc-pool/blockdevice-reusability/test_vars.yml
Labels: cspc/csi
