Repository openebs/e2e-tests, pull requests merged in 2020-05, with the labels that each got.

#308 feat[test-case]: Included a test case to verify the pool failure when the disk replacement is in progress
  experiments/chaos/cspc_pool_failure/disk_replacement_inprogress/README.md
  experiments/chaos/cspc_pool_failure/disk_replacement_inprogress/data_persistence.j2
  experiments/chaos/cspc_pool_failure/disk_replacement_inprogress/run_litmus_test.yml
  experiments/chaos/cspc_pool_failure/disk_replacement_inprogress/test.yml
  experiments/chaos/cspc_pool_failure/disk_replacement_inprogress/test_vars.yml
Labels: waiting-for-rewiew

#322 refactor[yaml]: Modified the jiva replica network delay test
  chaoslib/openebs/jiva_replica_network_delay.yaml
Labels: e2e-jiva

#368 refact(experiment): Refactored the docker/kubelet service failure test
  chaoslib/service_failure/service_chaos.yml
  experiments/chaos/kubernetes/service_failure/run_litmus_test.yml
  experiments/chaos/kubernetes/service_failure/test.yml
  experiments/chaos/kubernetes/service_failure/test_vars.yml
Labels: storage/zfs-localpv

#364 new(zfs-localpv): Functional/Validation test for custom-topology support for zfs-LocalPV
  experiments/functional/zfs-LocalPV/zfspv-custom-topology/README.md
  experiments/functional/zfs-LocalPV/zfspv-custom-topology/app_gen_immediate.sh
  experiments/functional/zfs-LocalPV/zfspv-custom-topology/app_gen_wfc.sh
  experiments/functional/zfs-LocalPV/zfspv-custom-topology/busybox.j2
  experiments/functional/zfs-LocalPV/zfspv-custom-topology/run_litmus_test.yml
  experiments/functional/zfs-LocalPV/zfspv-custom-topology/storage_class.j2
  experiments/functional/zfs-LocalPV/zfspv-custom-topology/test.yml
  experiments/functional/zfs-LocalPV/zfspv-custom-topology/test_vars.yml
Labels: storage/zfs-localpv
