Repository openebs/e2e-tests, pull requests merged in 2020-04, with the labels that each got.

#236 Added experiment to verify zv property modification after volume provisioning at runtime
  experiments/functional/zfs-LocalPV/zv-property-runtime-modify/run_litmus_test.yml
  experiments/functional/zfs-LocalPV/zv-property-runtime-modify/test.yml
  experiments/functional/zfs-LocalPV/zv-property-runtime-modify/test_vars.yml
  experiments/functional/zfs-LocalPV/zv-property-runtime-modify/zv_property_ds.yml
Labels: storage/zfs-localpv

#235 refactor[yaml]: Modified the iscsiadm volume path in jiva volume resize test case
  experiments/functional/jiva-volume-resize/daemonset.j2
  experiments/functional/jiva-volume-resize/test.yml
Labels: e2e-jiva

#211 Refactor backup and restore to verify local snapshot deletion
  experiments/functional/backup_and_restore/additional_verification.yml
  experiments/functional/backup_and_restore/induce_failure.yml
  experiments/functional/backup_and_restore/run_litmus_test.yml
  experiments/functional/backup_and_restore/setup_dependency.yml
  experiments/functional/backup_and_restore/test.yml
  experiments/functional/backup_and_restore/test_vars.yml
Labels: waiting-for-rewiew

#238 refactor[yaml]: Modified functional test cases for jiva
  experiments/functional/custom/tests/memcheck/test-mem.py
  experiments/functional/custom/tests/memcheck/test.yml
  experiments/functional/custom/tests/memcheck/test_vars.yml
  experiments/functional/scale_jiva_replica/test.yml
  experiments/functional/snapshot_deletion/jiva/check_replica_count.yml
  experiments/functional/snapshot_deletion/jiva/snapshot_delete_verify_test.yml
  experiments/functional/snapshot_deletion/jiva/test_replica_restart.yml
  experiments/functional/snapshot_deletion/jiva/test_vars.yml
  funclib/kubectl/scale_replicas.yml
  utils/scm/openebs/target_affinity_check.yml
Labels: e2e-jiva

#232 feat[rothreshold]: Included a test case to verify the cstor rothreshold limit
  experiments/functional/rothreshold-limit/busybox_deployment.yml
  experiments/functional/rothreshold-limit/run_litmus_test.yml
  experiments/functional/rothreshold-limit/spc.yml
  experiments/functional/rothreshold-limit/test.yml
  experiments/functional/rothreshold-limit/test_vars.yml
Labels: waiting-for-rewiew

#233 Refactor backup and restore to verify backup/restore using local snapshot
  experiments/functional/backup_and_restore/backup-restore.yml
  experiments/functional/backup_and_restore/local-volume-snapshot-location.yml
  experiments/functional/backup_and_restore/run_litmus_test.yml
  experiments/functional/backup_and_restore/setup_dependency.yml
  experiments/functional/backup_and_restore/test.yml
  experiments/functional/backup_and_restore/test_vars.yml
Labels: velero, waiting-for-rewiew

#276 feat[test]: Included atest case to verify the bulk upgrade of volumes
  providers/openebs/bulk-upgrade/cstor-spc-upgrade-job.j2
  providers/openebs/bulk-upgrade/cstor-volume-upgrade-job.j2
  providers/openebs/bulk-upgrade/jiva-volume-upgrade-job.j2
  providers/openebs/bulk-upgrade/run_litmus_test.yml
  providers/openebs/bulk-upgrade/test.yml
  providers/openebs/bulk-upgrade/test_vars.yml
Labels: waiting-for-rewiew

#305 feat[yaml]: Implemented litmusbook to validate jiva logging
  experiments/functional/jiva-logging/README.md
  experiments/functional/jiva-logging/run_litmus_test.yml
  experiments/functional/jiva-logging/test.yml
  experiments/functional/jiva-logging/test_vars.yml
  experiments/functional/jiva-logging/verify_logging.yml
Labels: e2e-jiva

#278 feat[yaml]: Implemented litmusbook to validate jiva volume cleanup job policies
  experiments/functional/jiva-cleanup-job/README.md
  experiments/functional/jiva-cleanup-job/busybox_deployment.yml
  experiments/functional/jiva-cleanup-job/run_litmus_test.yml
  experiments/functional/jiva-cleanup-job/sc.j2
  experiments/functional/jiva-cleanup-job/test.yml
  experiments/functional/jiva-cleanup-job/test_vars.yml
Labels: e2e-jiva

#280 Added test to install zfs-controller in HA and its behaviour when replica goes down
  experiments/functional/zfs-LocalPV/zfs-controller-HA/README.md
  experiments/functional/zfs-LocalPV/zfs-controller-HA/busybox_app.yml
  experiments/functional/zfs-LocalPV/zfs-controller-HA/run_litmus_test.yml
  experiments/functional/zfs-LocalPV/zfs-controller-HA/test.yml
  experiments/functional/zfs-LocalPV/zfs-controller-HA/test_vars.yml
  providers/zfs-localpv-provisioner/run_litmus_test.yml
  providers/zfs-localpv-provisioner/test.yml
  providers/zfs-localpv-provisioner/test_vars.yml
Labels: storage/zfs-localpv
