Repository openebs/e2e-tests, pull requests merged in 2020-06, with the labels that each got.

#370 feat(pool-chaos): Included a test case to kill the cspc pool-mgmt container
  chaoslib/openebs/cstor_cspc_pool_kill.yml
  experiments/chaos/cspc_pool_failure/container_failure/README.md
  experiments/chaos/cspc_pool_failure/container_failure/data_persistence.j2
  experiments/chaos/cspc_pool_failure/container_failure/run_litmus_test.yml
  experiments/chaos/cspc_pool_failure/container_failure/test.yml
  experiments/chaos/cspc_pool_failure/container_failure/test_vars.yml
Labels: waiting-for-rewiew

#409 refactor[openebs-provision]: Modified the test case to provision the openebs
  providers/openebs/installers/operator/master/litmusbook/openebs_psp.yml
  providers/openebs/installers/operator/master/litmusbook/run_litmus_test.yml
  providers/openebs/installers/operator/master/litmusbook/test.yaml
  providers/openebs/installers/operator/master/litmusbook/test.yml
  providers/openebs/installers/operator/master/litmusbook/test_vars.yaml
  providers/openebs/installers/operator/master/litmusbook/test_vars.yml
Labels: waiting-for-rewiew

#413 refact(exp): refactor the zfspv-provisioner litmusbook for using CentOS based operator file
  providers/zfs-localpv-provisioner/run_litmus_test.yml
  providers/zfs-localpv-provisioner/test.yml
Labels: storage/zfs-localpv

#424 refact(exp): creation of zpool will be done based on env
  providers/zfs-localpv-provisioner/run_litmus_test.yml
  providers/zfs-localpv-provisioner/test.yml
Labels: storage/zfs-localpv

#421 feat[upgrade]: Test case to perform the cStor CSPC pool CSI volume upgrade
  providers/openebs/cspc_csi_upgrade/README.md
  providers/openebs/cspc_csi_upgrade/cstor-csi-volume-upgrade-job.j2
  providers/openebs/cspc_csi_upgrade/cstor-cspc-upgrade-job.j2
  providers/openebs/cspc_csi_upgrade/cstor_replica_version_check.yml
  providers/openebs/cspc_csi_upgrade/run_litmus_test.yml
  providers/openebs/cspc_csi_upgrade/test.yml
  providers/openebs/cspc_csi_upgrade/test_vars.yml
Labels: cspc/csi, waiting-for-rewiew
